.env
.idea
.cache
.coverage
.storybook-out
.DS_Store
.venv
.vscode
.history
.pypirc
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
*.csv
*.json

/build
/dist
/other
/tmp
/roles

__pycache__

testing*
config.py